{
	"printWidth": 160,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"svelteBracketNewLine": true,
	"htmlWhitespaceSensitivity": "strict",
	"trailingComma": "none",
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
