// Colors
$gray-200: #E2E8F0
$gray-500: #a0aec0
$red-400: #FC8181
$orange-500: #ffc62b

// Shadows
$shadow-big: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)

// Transitions
$cubic-ease: 0.4s cubic-bezier(0.4, 0, 0, 1)